html,
body {
  height: 100%;
}

body {
  background: var(--color-blue);
  background: linear-gradient(
    160deg,
    var(--color-blue) 0%,
    var(--color-blue-lighten) 25%,
    var(--color-blue-lighten) 75%,
    var(--color-blue) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
