html,
body {
  height: 100%;
}

body {
  background: rgb(148, 163, 184);
  background: linear-gradient(
    294deg,
    rgba(148, 163, 184, 1) 0%,
    rgba(203, 213, 225, 1) 40%,
    rgba(203, 213, 225, 1) 60%,
    rgba(148, 163, 184, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Quicksand", sans-serif;
}
