html {
  --color-blue-lighten: #bfdbfe;
  --color-blue: #93c5fd;
  --color-blue-darken: #577de7;
  --color-transparent-black: rgba(0, 0, 0, 0.2);
  --elevation-sm: 0 2px 5px rgba(0, 0, 0, 0.4);
  --elevation-md: 0 5px 15px rgba(0, 0, 0, 0.4);
  --elevation-lg: 0 10px 25px rgba(0, 0, 0, 0.4);
  --round-sm: 0.4rem;
  --round-md: 0.8rem;
  --round-lg: 0.8rem;
}
