.text-btn {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  padding: 0.6em 1em;
  border-radius: 0.4em;

  &--outlined {
    background: none;
    border: 3px solid var(--color-blue);
  }

  // for keyboard navigation
  &:focus-visible {
    outline: 3px solid rgba(0, 0, 0, 0.25);
  }
}

.icon-btn {
  background: #fff;
  font: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5rem;

  padding: 0;

  &--elevated {
    box-shadow: var(--elevation-sm);
    transition: transform 0.6s, box-shadow 0.6s;

    &:hover {
      transform: translateY(-3px);
      box-shadow: var(--elevation-md);
    }
  }

  &--outlined {
    border: 3px solid var(--color-blue);
  }

  &--small {
    font-size: 1.6rem;
  }

  // for keyboard navigation
  &:focus-visible {
    outline: 3px solid rgba(0, 0, 0, 0.25);
  }
}
