.form-modal {
  font-size: 1.1rem;
  width: 100%;

  max-width: 32rem;

  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    padding: 1.4rem 1.8rem 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;

    letter-spacing: 2px;
  }

  &__form {
    fieldset {
      height: 100%;

      padding: 1.6rem 1.8rem;

      legend {
        margin-bottom: 1rem;
      }

      label {
        display: inline-block;
        line-height: 2;
        margin-left: 0.2em;
      }

      .form-control {
        margin-bottom: 1.8rem;

        &:last-child {
          margin: 0;
        }
      }

      label[for="read"] {
        display: flex;
        align-items: center;
        cursor: pointer;

        input {
          cursor: inherit;
          width: 1.2rem;
          height: 1.2rem;
        }

        span {
          margin-left: 0.4rem;
        }
      }
    }
  }

  &__actions {
    display: flex;
    margin-top: auto;
    padding: 1rem 1.8rem 1.4rem;

    .text-btn {
      width: 100%;
      padding: 1rem;
    }
  }
}
