.book {
  max-height: 100%;
  flex-grow: 1;
  background-color: var(--color-blue);
  color: #fff;
  padding: 0.6rem;
  overflow: auto;

  border-style: outset;
  border-top-width: 8px;
  border-right-width: 8px;
  border-bottom: none;
  border-left: none;
  border-radius: var(--round-sm);
  border-bottom-right-radius: var(--round-md);

  position: relative;

  &__cover {
    height: 100%;
    overflow: auto;
    border: 8px double #fff;

    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    padding: 0.8rem;
    padding-top: 1rem;
    word-wrap: break-word;
  }

  &__author {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    padding: 0.8rem;
  }

  &__bottom {
    font-weight: 500;
    margin-top: auto;
    padding: 0.8rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 0.6rem;
  }
}

.book-actions {
  font-size: 0.8rem;
  padding: 0.8rem 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.book-actions {
  &__delete {
    color: red;
    background-color: #fff;
  }
}
