.book {
  background-color: var(--color-blue);
  color: #fff;
  padding: 0.6rem;
  flex-basis: 15rem;
  max-height: 20rem;
  height: 20rem;
  min-width: 15rem;
  border-style: outset;
  border-top-width: 8px;
  border-right-width: 12px;
  border-bottom: none;
  border-left: none;

  border-radius: var(--round-sm);

  border-bottom-right-radius: var(--round-md);

  position: relative;

  &__cover {
    height: 100%;
    border: 5px double #fff;

    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: center;
    padding: 0.4rem;
    padding-top: 1rem;
  }

  &__author {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 0.6rem;
  }

  &__details {
    font-weight: 500;
    margin-top: auto;
    padding: 0.8rem;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 0.6rem;
  }
}
