.btn {
  color: white;
  background: none;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: 3px solid #fff;

  padding: 0.6em 1em;

  border-radius: 0.4em;

  &--blue {
    color: var(--color-blue);
    border-color: var(--color-blue);
  }

  // for keyboard navigation
  &:focus-visible {
    outline: 3px solid rgba(0, 0, 0, 0.25);
  }
}
