.modal {
  min-width: 300px;
  width: 100%;
  max-width: 400px;

  border: none;
  border-radius: 1rem;
  padding: 0;
  box-shadow: var(--elevation-lg);

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 1.4rem 1.8rem 1rem;
    margin-bottom: 1rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;

    letter-spacing: 2px;
  }

  &__close {
    margin: -5px -5px 0 auto;
  }

  &__form {
    fieldset {
      padding: 1.6rem 1.8rem;

      legend {
        margin-bottom: 1rem;
      }

      label {
        display: inline-block;
        padding: 0.4rem 0.2rem;
      }

      .field {
        margin-bottom: 1.4rem;
      }

      input[type="checkbox"] {
        margin-right: 0.6rem;
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  &__actions {
    display: flex;
    margin-top: auto;
    padding: 1.4rem 1.8rem;

    .text-btn {
      font-size: 1.2rem;
      width: 100%;
      padding: 1rem;
    }
  }
}
