.modal {
  min-width: 300px;
  max-width: 400px;
  border: none;
  border-radius: 1rem;
  padding: 0;
  box-shadow: var(--elevation-lg);

  position: fixed;
  top: 50%;
  transform: translateY(-50%);

  &__header {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
  }

  &__title {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
  }

  &__close {
    margin: -5px -5px 0 auto;
  }

  &__form {
    fieldset {
      padding: 1.6rem 1.2rem;

      label {
        display: block;
        padding: 0.4rem 0.2rem;
      }

      input[type="checkbox"] {
        margin-left: auto;
      }
    }
  }

  &__actions {
    display: flex;
    padding: 1rem 1.2rem;

    .text-btn {
      width: 100%;
    }
  }
}
