.grid {
  height: 100%;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;

  &:empty {
    display: none;
  }

  &__item {
    flex-basis: 15rem;
    max-height: 20rem;
    min-width: 15rem;
    height: 20rem;
  }
}
