.grid {
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 18rem);
  grid-auto-rows: 28rem;
  column-gap: 4rem;
  row-gap: 2rem;

  &:empty {
    display: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }
}
