html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.color-white {
  color: #fff;
}

.color-blue {
  color: var(--color-blue);
}

.color-blue-lighten {
  color: var(--color-blue-lighten);
}

.bg-blue {
  background: var(--color-blue);
}

.bg-blue-lighten {
  background: var(--color-blue-lighten);
}

.bg-white {
  background: #fff;
}

.bg-none {
  background: none;
}

html {
  --color-blue-lighten: #bfdbfe;
  --color-blue: #93c5fd;
  --color-blue-darken: #577de7;
  --color-error: #ff6565;
  --color-transparent-black: rgba(0, 0, 0, 0.2);
  --elevation-sm: 0 2px 5px rgba(0, 0, 0, 0.4);
  --elevation-md: 0 5px 15px rgba(0, 0, 0, 0.4);
  --elevation-lg: 0 10px 25px rgba(0, 0, 0, 0.4);
  --round-sm: 0.4rem;
  --round-md: 0.8rem;
  --round-lg: 0.8rem;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(148, 163, 184);
  background: linear-gradient(294deg, rgb(148, 163, 184) 0%, rgb(203, 213, 225) 40%, rgb(203, 213, 225) 60%, rgb(148, 163, 184) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}

.text-btn {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  padding: 0.6em 1em;
  border-radius: 0.4em;
}
.text-btn--outlined {
  background: none;
  border: 3px solid var(--color-blue);
}
.text-btn:focus-visible {
  outline: 3px solid rgba(0, 0, 0, 0.25);
}

.field {
  font: inherit;
  width: 100%;
  border: 2px solid var(--color-transparent-black);
  padding: 0.8em 1em;
  border-radius: var(--round-sm);
  outline: none;
}
.field--invalid {
  border-color: var(--color-error);
}
.field:focus {
  border: 3px solid var(--color-blue);
}
.field::placeholder {
  opacity: 0.3;
}

.icon-btn {
  background: #fff;
  font: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
  border: none;
  border-radius: 5rem;
  padding: 0;
}
.icon-btn--elevated {
  box-shadow: var(--elevation-sm);
  transition: transform 1s, box-shadow 1s;
}
.icon-btn--elevated:hover {
  transform: translateY(-3px);
  box-shadow: var(--elevation-md);
}
.icon-btn--outlined {
  border: 3px solid var(--color-blue);
}
.icon-btn--small {
  font-size: 1.6rem;
}
.icon-btn:focus-visible {
  outline: 3px solid rgba(0, 0, 0, 0.25);
}

.book {
  background-color: var(--color-blue);
  color: #fff;
  padding: 0.6rem;
  flex-basis: 15rem;
  max-height: 20rem;
  min-width: 15rem;
  height: 20rem;
  border-style: outset;
  border-top-width: 8px;
  border-right-width: 8px;
  border-bottom: none;
  border-left: none;
  border-radius: var(--round-sm);
  border-bottom-right-radius: var(--round-md);
  position: relative;
}
.book__cover {
  height: 100%;
  border: 8px double #fff;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.book__top {
  overflow: auto;
}
.book__title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 0.8rem;
  padding-top: 1rem;
  word-wrap: break-word;
}
.book__author {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
  padding: 0.8rem;
}
.book__bottom {
  font-weight: 500;
  margin-top: auto;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  gap: 0.6rem;
}

.modal {
  min-width: 300px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 1rem;
  padding: 0;
  box-shadow: var(--elevation-lg);
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__header {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
}
.modal__title {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.modal__close {
  margin: -5px -5px 0 auto;
}
.modal__form fieldset {
  padding: 1.6rem 1.2rem;
}
.modal__form fieldset legend {
  margin-bottom: 1rem;
}
.modal__form fieldset label {
  display: inline-block;
  padding: 0.4rem 0.2rem;
}
.modal__form fieldset .field {
  margin-bottom: 1.4rem;
}
.modal__form fieldset input[type=checkbox] {
  margin-right: 0.6rem;
  width: 1.2rem;
  height: 1.2rem;
}
.modal__actions {
  display: flex;
  margin-top: auto;
  padding: 1rem 1.2rem;
}
.modal__actions .text-btn {
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem;
}

.header {
  background: #fff;
  padding: 1rem 1.4rem 1rem;
  box-shadow: var(--elevation-sm);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .title {
  color: var(--color-blue);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 0.2em;
  padding: 0.6rem 0.6rem 0.8rem;
}

.main {
  padding: 3rem;
  position: relative;
}
.main__add {
  position: fixed;
  bottom: 25px;
  right: 30px;
}

.grid {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 3rem;
  row-gap: 1rem;
}
.grid:empty {
  display: none;
}

/*# sourceMappingURL=index.css.map */
